<div class="block-calculator">
  <div class="simple-operations">
    <button type="button" name="sum">+</button>
    <button type="button" name="res">-</button>
    <button type="button" name="mult">x</button>
    <button type="button" name="div">÷</button>
    <button type="button" name="equal">=</button>
  </div>
  <div class="expresions-container">
    <button type="button" name="left-parenthesis">(</button>
    <button type="button" name="right-parenthesis">)</button>
  </div>
  <div class="numbers-container">
    <button type="button" name="9">9</button>
    <button type="button" name="8">8</button>
    <button type="button" name="7">7</button>
    <button type="button" name="6">6</button>
    <button type="button" name="5">5</button>
    <button type="button" name="4">4</button>
    <button type="button" name="3">3</button>
    <button type="button" name="2">2</button>
    <button type="button" name="1">1</button>
    <button type="button" name="0">0</button>
    <button type="button" name="sign">±</button>
    <button type="button" name="point">.</button>
  </div>
  <div class="expresions-trigonometric">
    <button type="button" name="sen">sen</button>
    <button type="button" name="cos">cos</button>
    <button type="button" name="tan">tan</button>
    <button type="button" name="senh">senh</button>
    <button type="button" name="cosh">cosh</button>
    <button type="button" name="tanh">tanh</button>
    <button type="button" name="cot">cot</button>
    <button type="button" name="sec">sec</button>
    <button type="button" name="scs">scs</button>
    <button type="button" name="pot">x<i>n</i></button>
    <button type="button" name="sign">√x</button>
    <button type="button" name="point"><i>n</i>√x</button>
  </div>
</div>
