<div class="calculator-container">
  <div class="input-function-container">
    <span>Ingresa tu funcion a calcular: </span>
    <div class="input-container">
      <input type="text" name="function" placeholder=" f(x) =">
    </div>
    {# <div class="show-funtion">

    </div> #}
  </div>
</div>
