<div class="container-selectors">
  <div class="select-methods">
    <span>Selecciona el Método: </span>
    <select class="select-methods" name="methods">
      <option value="1">Punto fijo</option>
      <option value="2">Newton-Raphson</option>
      <option value="3">Secante</option>
      <option value="4">Posición falsa</option>
      <option value="5">Bisección</option>
    </select>
  </div>
  <div class="values-container">
    <div class="initial-value">
      <span>X=</span>
      <input id="input-x" type="number" name="x" value="0">
    </div>
  </div>
</div>
