$color-black: #000;
$color-white: #FFF;
$color-yellow-mustard: #FBAF3F;
$color-yellow-mustard-dark: #F99D4B;
$color-night-gray: #332E2E;
$color-green: #28B463;
$rgba-gray-middle:rgba(221,221,221, 0.5);
