<!DOCTYPE html>
<html>
  <head>
    {% block metas %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="stylesheet" href="./public/scss/main/main.css">
    <script async type="text/javascript" src="./public/js/mainbundle.js"></script>
    <!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Source+Sans+Pro" rel="stylesheet">  </head>
  <body>
    <!-- Header -->
    <!-- Content -->
    <div class="body-content">
      <div class="content">
        {% block body %}
        {% endblock %}
      </div>
    </div>
    <!-- Footer -->
  </body>
</html>
